.container {
  display: flex;
  flex-direction: column;
  width: 98%; /* 화면 너비를 약간 줄임 */
  height: 98vh; /* 화면 높이를 약간 줄임 */
  margin: 0 auto; /* 화면 중앙 정렬을 유지 */
  box-sizing: border-box; /* 패딩과 보더를 포함한 크기 계산 */
}


.top-input {
  margin-left: 50px;
  width: calc(100% - 50px);
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

.main-content {
  display: flex;
  width: 100%;
  height: calc(100% - 100px); /* 상단 영역 높이 제외 */
}

.streaming {
  flex: 2;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.streaming img {
  border: 2px solid black;
  width: 80%;
  height: auto;
  border-radius: 8px;
}

.streaming input {
  font-size: 1.2em;
  width: 80%;
  text-align: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 20px;
}

.textbox-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: calc(100% - 100px);
  box-sizing: border-box;
  border: 1px solid;
}
